body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  color: white;
  background-attachment: fixed;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 4em;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1.5em;
  margin-bottom: 1em;
  max-width: 32rem;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.results > * {
  margin: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
}
