body {
  margin: 0;
  background-color: #3e3e3e;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
}
